
:root{
    --primary-color: #671636;
    --secund-color:#862048;
}

.nav-txt:hover{
    border-bottom: 3px solid var(--primary-color);
}

.mybg-primary-color{
    background-color: var(--primary-color);
}
.mybg-secund-color{
    background-color: var(--secund-color);
}

.navbar-brand img{
    height: 90px;
    padding-top: 10px;
}

.my-primary-color{
    color: var(--primary-color);
}

.my-line-height{
    line-height: 4rem;
}
.my-line-height-footer{
    line-height: 3rem;
}

.my-ico-bg{
    background-color: var(--primary-color); 
    padding: 0.5rem; 
    border-radius: 20%;
}

