
:root{
    --primary-color: #671636;
    --secund-color:#862048;
}

.bg-primary-color{
    background-color: var(--primary-color);
}
.navbar-brand img{
    height: 90px;
    padding-top: 10px;
}

.my-primary-color{
    color: var(--primary-color);
}

.my-line-height{
    line-height: 3;
}

.my-ico-bg{
    background-color: var(--primary-color); 
    padding: 0.5rem; 
    border-radius: 20%;
}
.my-ico-color{
    color: white;
}
